APP_DOMAIN=app.moreforms.ru
STREAMLIT_PORT=8501
MAIN_DASHBOARD_PUBLIC_URL=https://app.moreforms.ru
CHAT_DASHBOARD_PUBLIC_URL=https://app.moreforms.ru?view=chat

OPENCLAW_RESPONSES_URL=http://host.docker.internal:18889/v1/responses
OPENCLAW_GATEWAY_TOKEN=
OPENCLAW_AGENT_ID=main
OPENCLAW_CHAT_USER_PREFIX=team

OAUTH2_PROXY_CLIENT_ID=replace-me
OAUTH2_PROXY_CLIENT_SECRET=replace-me
OAUTH2_PROXY_COOKIE_SECRET=replace-with-32-char-secret
OAUTH2_PROXY_ALLOWED_EMAILS_FILE=/srv/moreforms/runtime/secrets/oauth2-allowed-emails.txt
